.wrapper {
    overflow-x: hidden;
}

body {
    @extend %dmsans-400;
    background-color: $white;
    color: $blue-350;
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    &--sm {
        max-width: 1200px;
    }
}

.title {
    font-size: 36px;
    color: $title;
    text-align: center;
    margin-bottom: 7px;
    @include r($r-s) {
        font-size: 24px;
    }
}

.logo {
    &__img {
        object-fit: contain;
    }
}

.button {
    cursor: pointer;
}

.mix-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 74px;
    @include r($r-l) {
        margin-bottom: 20px;
    }
    &__item {
        color: $gray-950;
        opacity: 0.5;
        font-size: 16px;
        transition: opacity 0.5s;
        @include r($r-s) {
            font-size: 14px;
        }
        &:not(:last-child) {
            margin-right: 18px;
            @include r($r-s) {
                margin-right: 0;
            }
        }
        &:hover {
            opacity: 0.7;
        }
        &:active,
        .mixitup-control-active {
            opacity: 0.3;
        }
    }
    &__btn {
        cursor: pointer;
        background-color: $white;
        outline: transparent;
        border: 0;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}