.wrapper {
    overflow-x: hidden;
}

body {
    @extend %dmsans-400;
    background-color: $white;
    color: $blue-350;
    font-family: 'DMSans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    &--sm {
        max-width: 1200px;
    }
}

.title {
    font-size: 36px;
    color: $title;
    text-align: center;
    margin-bottom: 7px;
    @include r($r-s) {
        font-size: 24px;
    }
}

.logo {
    &__img {
        object-fit: contain;
    }
}

.button {
    cursor: pointer;
}

.mix-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 74px;
    @include r($r-l) {
        margin-bottom: 20px;
    }
    &__item {
        color: $gray-950;
        opacity: 0.5;
        font-size: 16px;
        transition: opacity 0.5s;
        @include r($r-s) {
            font-size: 14px;
        }
        &:not(:last-child) {
            margin-right: 18px;
            @include r($r-s) {
                margin-right: 0;
            }
        }
        &:hover {
            opacity: 0.7;
        }
        &:active,
        .mixitup-control-active {
            opacity: 0.3;
        }
    }
    &__btn {
        cursor: pointer;
        background-color: $white;
        outline: transparent;
        border: 0;
    }
}

.top {
    margin: 130px 0 112px;
    background-color: $blue-150;
    width: 100%;
    padding: 30px 0 36px;
    @include r($r-xl) {
        margin-bottom: 0;
    }
    @include r($r-l) {
        margin: 115px 0 20px;
    }
    @include r($r-m) {
        margin-bottom: 10px;
    }
    &__title {
        @extend %rubik-400;
        margin-bottom: 0;
        line-height: 1.2;
        &--log {
            text-transform: uppercase;
        }
    }
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    color: $gray-700;
    &__list {
        display: flex;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 20px;
            &::after {
                content: "/";
                position: absolute;
                right: -12px;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__item {
        display: inline-block;
        margin-right: 15px;
    }
    &__link {
        padding: 12px 20px;
        color: $blue-200;
        border: 1px solid $blue-200;
        transition: background-color 0.5s;
        &--active &:hover:not(.active) {
            background-color: $blue-400;
            color: $white;
        }
        &:hover {
            background-color: $blue-200;
            color: $white;
        }
        &:active {
            background-color: $blue-350;
            color: $white;
        }
        &:focus {
            background-color: $blue-300;
            color: $white;
        }
        &--next {
            padding: 7px 20px;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}