body {
    @extend %dmsans-400;
    background-color: $white;
    color: $blue-350;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    &--sm {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.title {
    font-size: 36px;
    color: $title;
    text-align: center;
    margin-bottom: 7px;
    @include r($r-xs) {
        font-size: 24px;
    }
}

.logo {
    &__img {
        object-fit: contain;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}