$white:#fff;
$title:#191919;

/* BLUE*/

$blue-950:#1f2044;
$blue-900:#324e5b;
$blue-850:#32505e;
$blue-800:#243f4d;
$blue-750:#506068;
$blue-700:#436372;
$blue-650:#4f6b77;
$blue-600:#234969;
$blue-550:#458db4;
$blue-500:#51819c;
$blue-450:#6fa0bb;
$blue-400:#79a9c4;
$blue-350:#a3bbc8;
$blue-300:#6e818b;
$blue-250:#859aa5;
$blue-200:#a3bac7;
$blue-150:#edf1f4;

/* GRAY */

$gray-950:#000;
$gray-900:#262626;
$gray-850:#333333;
$gray-800:#414141;
$gray-750:#585858;
$gray-700:#646161;
$gray-650:#afa9a9;
$gray-600:#bbbbbb;
$gray-550:#b3b7b5;
$gray-500:#c9bebe;
$gray-450:#e0e0e0;
$gray-400:#f8f8f8;

/* YELLOW */

$yellow-950:#f1a25d;
$yellow-900:#f3b06d;
$yellow-800:#fcc391;
$yellow-850:#fcd7b6;
$yellow-800:#fcd7b6;
$yellow-750:#fef7f0;
$yellow-700:#e8e4df;
$yellow-650:#feefe2;
$yellow-600:#ffd6b3;
$yellow-550:#f7cb9e;
$yellow-500:#f8f3ee;

/* ШРИФТЫ */

%dmsans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

@mixin line_clamp($lc) {
    display: -webkit-box;
    -webkit-line-clamp: $lc;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin mix-nav_list {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
    &__item {
        color: $gray-950;
        opacity: 0.5;
        font-size: 16px;
        transition: opacity 0.5s;
        &:not(:last-child) {
            margin-right: 18px;
        }
        &:hover {
            opacity: 0.7;
        }
        &:active,
        .mixitup-control-active {
            opacity: 0.3;
        }
    }
    &__btn {
        cursor: pointer;
        background-color: $white;
        outline: transparent;
        border: 0;
    }
}