<section class="statistik">
    <div class="container container--sm">
        <ul class="statistik__items ">
            <li class="statistik__item statistik__item--clients">
                <svg class="statistik__img">
                    <use xlink:href="images/sprite.svg#clients"></use>
                </svg>
                <span class="statistik__number">99%</span>
                <p class="statistik__text">Satisﬁed Clients Rate</p>
            </li>
            <li class="statistik__item">
                <svg class="statistik__img">
                    <use xlink:href="images/sprite.svg#products"></use>
                </svg>
                <span class="statistik__number">5020+</span>
                <p class="statistik__text">Products Delivered</p>
            </li>
            <li class="statistik__item">
                <svg class="statistik__img">
                    <use xlink:href="images/sprite.svg#time"></use>
                </svg>
                <span class="statistik__number">23hr</span>
                <p class="statistik__text">Daily Working Time</p>
            </li>
            <li class="statistik__item">
                <svg class="statistik__img">
                    <use xlink:href="images/sprite.svg#brands"></use>
                </svg>
                <span class="statistik__number">140+</span>
                <p class="statistik__text">Brands in Store</p>
            </li>
        </ul>
    </div>
</section>