<section class="team">
    <div class="container container--sm">
        <div class="team__inner">
            <div class="team__about">
                <h2 class="title team__title">Our Team</h2>
                <div class="team__text">
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <a class="team__link" href="#">Join With US</a>
            </div>
            <ul class="team__list">
                <li class="team__item">
                    <article class="team-card">
                        <img class="team-card__img" loading="lazy" width="370" height="370" src="images/team/team__1.jpg" alt="team__photo">
                        <div class="team-card__info">
                            <div class="team-card__information">
                                <h3 class="team-card__name">Eliza Elliot</h3>
                                <p class="team-card__status">Commodo tempor</p>
                            </div>
                            <ul class="team-card__social">
                                <li class="team-card__button">
                                    <button class="team-card__btn team-card__btn--insta">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#insta"></use>
                                        </svg>
                                        <span class="sr-only">Open instagram</span>
                                    </button>
                                </li>
                                <li class="team-card__button">
                                    <button class="team-card__btn">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#google"></use>
                                        </svg>
                                        <span class="sr-only">Open google</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>

                <li class="team__item">
                    <article class="team-card">
                        <img class="team-card__img" loading="lazy" width="370" height="370" src="images/team/team__2.jpg" alt="team__photo">
                        <div class="team-card__info">
                            <div class="team-card__information">
                                <h3 class="team-card__name">Roscoe A.</h3>
                                <p class="team-card__status">Commodo tempor</p>
                            </div>
                            <ul class="team-card__social">
                                <li class="team-card__button">
                                    <button class="team-card__btn team-card__btn--insta">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#insta"></use>
                                        </svg>
                                        <span class="sr-only">Open instagram</span>
                                    </button>
                                </li>
                                <li class="team-card__button">
                                    <button class="team-card__btn">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#google"></use>
                                        </svg>
                                        <span class="sr-only">Open google</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>

                <li class="team__item">
                    <article class="team-card">
                        <img class="team-card__img" loading="lazy" width="370" height="370" src="images/team/team__3.jpg" alt="team__photo">
                        <div class="team-card__info">
                            <div class="team-card__information">
                                <h3 class="team-card__name">Ruby M.</h3>
                                <p class="team-card__status">Commodo tempor</p>
                            </div>
                            <ul class="team-card__social">
                                <li class="team-card__button">
                                    <button class="team-card__btn team-card__btn--insta">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#insta"></use>
                                        </svg>
                                        <span class="sr-only">Open instagram</span>
                                    </button>
                                </li>
                                <li class="team-card__button">
                                    <button class="team-card__btn">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#google"></use>
                                        </svg>
                                        <span class="sr-only">Open google</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="team__item">
                    <article class="team-card">
                        <img class="team-card__img" loading="lazy" width="370" height="370" src="images/team/team__4.jpg" alt="team__photo">
                        <div class="team-card__info">
                            <div class="team-card__information">
                                <h3 class="team-card__name">Marie F. Bloss</h3>
                                <p class="team-card__status">Commodo tempor</p>
                            </div>
                            <ul class="team-card__social">
                                <li class="team-card__button">
                                    <button class="team-card__btn team-card__btn--insta">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#insta"></use>
                                        </svg>
                                        <span class="sr-only">Open instagram</span>
                                    </button>
                                </li>
                                <li class="team-card__button">
                                    <button class="team-card__btn">
                                        <svg class="team-card__svg">
                                            <use xlink:href="images/sprite.svg#google"></use>
                                        </svg>
                                        <span class="sr-only">Open google</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>