<section class="design">
    <div class="container container--sm">
        <h2 class="title">New Design</h2>
        <div data-ref="design__gallery">
            <ul class="mix-nav design__list">
                <li class="mix-nav__item">
                    <button class="mix-nav__btn" data-filter="all">All</button>
                </li>
                <li class="mix-nav__item">
                    <button class="mix-nav__btn" data-filter=".category-des-furnitures">Furnitures</button>
                </li>
                <li class="mix-nav__item">
                    <button class="mix-nav__btn" data-filter=".category-des-chairs">Chairs</button>
                </li>
                <li class="mix-nav__item">
                    <button class="mix-nav__btn" data-filter=".category-des-lighting">Lighting</button>
                </li>
                <li class="mix-nav__item">
                    <button class="mix-nav__btn" data-filter=".category-des-decor">Decor</button>
                </li>
            </ul>
            @@include('../main/_design-content.html')
        </div>
    </div>
    <div class="video" style="background-image: url(images/video/video__bg.jpg);" data-fancybox href="https://youtu.be/SonADs_4Two">
        <a class="video__link" data-fancybox href="https://youtu.be/SonADs_4Two">
            <svg class="video__img">
            <use xlink:href="images/sprite.svg#play"></use>
        </svg>
            <span class="sr-only">Play video</span>
        </a>
    </div>
</section>