<ul class="design__content">
    <li class="design__card  mix category-des-furnitures">
        <article class="design-card">
            <a class="design-card__link" href="#">
                <div class="design-card__text">
                    <h3 class="design-card__name">Beat Flat Pendant Black</h3>
                    <p class="design-card__type">Classic</p>
                </div>
                <img loading="lazy" class="design-card__img" width="270" height="200" src="images/design/1.png" alt="sofa">
            </a>
        </article>
    </li>
    <li class="design__card  mix category-des-decor">
        <article class="design-card">
            <a class="design-card__link" href="#">
                <div class="design-card__text">
                    <h3 class="design-card__name">Lampe Sur Pieds Bamboo</h3>
                    <p class="design-card__type">Classic</p>
                </div>
                <img loading="lazy" class="design-card__img" width="270" height="200" src="images/design/2.png" alt="sofa">
            </a>
        </article>
    </li>
    <li class="design__card mix category-des-lighting">
        <article class="design-card">
            <a class="design-card__link" href="#">
                <div class="design-card__text">
                    <h3 class="design-card__name">Rattan Rocking Chair</h3>
                    <p class="design-card__type">Classic</p>
                </div>
                <img loading="lazy" class="design-card__img design-card__img--chair" width="150" height="200" src="images/design/3.png" alt="chair">
            </a>
        </article>
    </li>
    <li class="design__card mix category-des-chairs">
        <article class="design-card">
            <a class="design-card__link" href="#">
                <div class="design-card__text">
                    <h3 class="design-card__name">Rattan Rocking Chair</h3>
                    <p class="design-card__type">Classic</p>
                </div>
                <img loading="lazy" class="design-card__img" width="270" height="200" src="images/design/4.png" alt="bed">
            </a>
        </article>
    </li>
    <li class="design__card mix category-des-lighting">
        <article class="design-card">
            <a class="design-card__link" href="#">
                <div class="design-card__text">
                    <h3 class="design-card__name">Rattan Rocking Chair</h3>
                    <p class="design-card__type">Classic</p>
                </div>
                <img loading="lazy" class="design-card__img design-card__img--chair" width="150" height="200" src="images/design/5.png" alt="chair">
            </a>
        </article>
    </li>
    <li class="design__card mix category-des-decor">
        <article class="design-card">
            <a class="design-card__link" href="#">
                <div class="design-card__text">
                    <h3 class="design-card__name">Lampe Sur Pieds Bamboo</h3>
                    <p class="design-card__type">Classic</p>
                </div>
                <img loading="lazy" class="design-card__img" width="270" height="200" src="images/design/6.png" alt="sofa">
            </a>
        </article>
    </li>
</ul>