<section class="hero">
    <h2 class="sr-only">Promo company</h2>
    <div class="container">
        <ul class="hero__inner">
            <li class="hero__item">
                <div class="hero__content">
                    <h3 class="hero__title">Smart and trendy </h3>
                    <div class="hero__text">
                        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    <a class="hero__link" href="#">Shop Now</a>
                </div>
                <img loading="lazy" class="hero__img" width="640" height="260" src="images/slider/1.png" alt="sofa">
            </li>
            <li class="hero__item">
                <div class="hero__content">
                    <h3 class="hero__title">Smart and trendy</h3>
                    <div class="hero__text">
                        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    <a class="hero__link" href="#">Shop Now</a>
                </div>
                <img loading="lazy" class="hero__img" width="640" height="260" src="images/slider/1.png" alt="sofa">
            </li>
            <li class="hero__item">
                <div class="hero__content">
                    <h3 class="hero__title">Smart and trendy</h3>
                    <div class="hero__text">
                        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    </div>
                    <a class="hero__link" href="#">Shop Now</a>
                </div>
                <img loading="lazy" class="hero__img" width="640" height="260" src="images/slider/1.png" alt="sofa">
            </li>
        </ul>
    </div>
</section>