<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item">
            <a class="pagination__link pagination__link" href="#">1</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link paginetion__link--next" href="#">next</a>
        </li>
    </ul>
</div>