<ul class="products__content">
    <li class="products__card mix category-furnitures">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/1.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">Wooden radio</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
    <li class="products__card mix category-furnitures">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/2.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">Wooden radio</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
    <li class="products__card mix category-chairs">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/3.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">White chair</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
    <li class="products__card mix category-lighting">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/4.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">Retro table</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
    <li class="products__card mix category-decor">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/5.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">Wooden radio</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
    <li class="products__card mix category-decor">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/6.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">Wooden radio</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
    <li class="products__card mix category-chairs">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/7.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">White chair</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
    <li class="products__card mix category-lighting">
        <article class="product-card">
            <div class="product-card__body">
                <img loading="lazy" class="product-card__img" width="277" height="260" src="images/products/8.png" alt="armchair">
                <div class="product-card__text">
                    <h3 class="product-card__name">Retro table</h3>
                    <div class="product-card__cost">29.00 <span>$</span></div>
                </div>
            </div>
            <ul class="product-card__tool">
                <li class="product-card__item">
                    <a class="product-card__link" href="#">
                        <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#more"></use>
                </svg>
                        <span class="sr-only">See more</span>
                    </a>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                </li>
                <li class="product-card__item">
                    <button class="product-card__link" href="#">
                <svg class="product-card__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
                </li>
            </ul>
        </article>
    </li>
</ul>