.shop {
    &__inner {
        display: flex;
        @include r($r-l) {
            justify-content: center;
        }
    }
    &__menu {
        display: none;
        @include r($r-l) {
            position: fixed;
            z-index: 10;
            right: 25px;
            display: block;
            margin-left: auto;
            background-color: $blue-150;
            fill: $blue-800;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 0;
            border: none;
            cursor: pointer;
            z-index: 10;
            transition: box-shadow 0.5s, background-color 0.5s;
            transform: rotate(-90deg);
            &:hover {
                background-color: $blue-450;
            }
            &:focus {
                box-shadow: 0 0 15px 5px rgba(110, 130, 141, 0.3)
            }
            &:active {
                fill: $white;
                background-color: $blue-550;
                transform: rotate(90deg);
            }
            &--back {
                transform: rotate(90deg);
            }
            @include r($r-s) {
                width: 30px;
                height: 30px;
            }
        }
    }
    &__svg {
        width: 15px;
        height: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(0%, 25%);
        z-index: 10;
    }
}

.filters {
    width: 25%;
    @include r($r-xl) {
        margin-right: 15px;
    }
    @include r($r-l) {
        margin-right: 0;
        transform: translateX(-200%);
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 115px;
        background-color: $white;
        z-index: 20;
        transition: transform 0.5s;
    }
    &--active {
        position: fixed;
        transform: translateX(0);
        background-image: linear-gradient($white, $blue-200);
        padding: 20px;
        @include r($r-l) {
            width: 40%;
        }
        @include r($r-s) {
            width: 80%;
        }
    }
}

.catalog {
    max-width: 870px;
    margin-bottom: 105px;
}

.heading {
    position: relative;
    font-size: 18px;
    color: $blue-800;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 2px solid transparent;
    &::after {
        content: "";
        position: absolute;
        color: $blue-350;
        border-bottom: 2px solid $blue-350;
        width: 40px;
        right: -45px;
        bottom: 50%;
        @include r($r-xl) {
            width: 30px;
            bottom: 0;
            left: 0;
        }
        @include r($r-l) {
            display: none;
        }
    }
}

.category {
    color: $blue-800;
    margin-bottom: 48px;
    &__link {
        position: relative;
        width: 100%;
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/sprite.svg#insights__arrow);
            background-repeat: no-repeat;
            width: 10px;
            height: 15px;
            top: 5px;
            right: 15px;
        }
    }
    &__item {
        padding: 13px 30px 15px 15px;
    }
}

.category__item,
.brand__item {
    border-radius: 10px;
    transition: background-color 0.3s;
    &:hover {
        background-color: $blue-150;
    }
    &:active {
        background-color: $blue-350;
    }
}

.category__link,
.brand__link {
    display: block;
    width: 100%;
    line-height: 1;
    border-radius: 10px;
}

.price {
    width: 90%;
    margin-bottom: 40px;
    &__roller {
        height: 100px;
    }
    &__include {
        color: $blue-950;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__cost {
        border: none;
        outline: transparent;
        width: 70px;
        padding: 5px;
    }
    &__text {
        opacity: 0;
    }
}

.irs--flat .irs-bar {
    top: 24px;
    height: 5px;
    background-color: $blue-350;
}

.irs--flat .irs-line {
    top: 25px;
    height: 3px;
    background-color: $blue-200;
}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: $blue-350;
    &:hover {
        background-color: $blue-250;
    }
    &:active {
        background-color: $blue-650;
    }
}

.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: -2px;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    cursor: pointer;
    background-color: $blue-350;
    &:hover {
        background-color: $blue-250;
    }
    &:active {
        background-color: $blue-650;
    }
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    color: $white;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: $blue-250;
    &::before {
        display: none;
    }
    &:hover {
        background-color: $white;
    }
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    visibility: visible !important;
    top: 50px;
    padding: 1px 3px;
    font-size: 18px;
    color: $blue-850;
    background-color: $white;
}

.brand {
    color: $blue-800;
    margin-bottom: 48px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.5s;
        padding: 12px 45px 5px 30px;
        &:hover .brand__number {
            opacity: 1;
        }
    }
    &__number {
        opacity: 0.5;
        &:active &__item {
            opacity: 1;
        }
    }
    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &+.brand__label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        &+.brand__label::before {
            content: '';
            background-repeat: no-repeat;
            width: 30px;
            height: 25px;
            margin-right: 13px;
            cursor: pointer;
            transition: background-image 0.3s;
        }
        &:not(:disabled):not(:checked)+.brand__label:hover::before {
            opacity: 0.9;
        }
        &:disabled+.brand__label::before {
            opacity: 0.2;
        }
        &:checked+.brand__label:hover::before {
            opacity: 0.3;
            background-image: url(../../images/svg/checkbox__on.svg);
            width: 30px;
            height: 25px;
            position: absolute;
            opacity: 0.5;
            z-index: 10;
        }
        &:checked+.brand__label::before {
            background-image: url(../../images/svg/checkbox__on.svg);
            width: 30px;
            height: 25px;
            position: absolute;
            opacity: 0.5;
            z-index: 10;
            opacity: 0.9;
        }
        &:disabled+.brand__label:hover::before {
            opacity: 0.2;
        }
    }
    &__name {
        display: inline-flex;
        align-items: center;
        user-select: none;
        position: relative;
    }
    &__label {
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            background-image: url(../../images/svg/checkbox.svg);
            background-repeat: no-repeat;
            width: 30px;
            height: 25px;
            position: absolute;
            left: -27px;
            bottom: 0;
            cursor: pointer;
            transition: background-image 0.3s;
            opacity: 0.5;
        }
    }
}

.recent {
    color: $blue-800;
    &__item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    &__card {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__photo {
        width: 75px;
        height: 75px;
        border: 2px solid $gray-350;
        margin-right: 15px;
        padding: 5px;
        background-color: $white;
        object-fit: contain;
    }
    &__info {
        padding-top: 10px;
    }
    &__name {
        font-size: 14px;
    }
    &__stars {
        padding-left: 0;
        margin-bottom: 10px;
    }
    &__cost {
        font-size: 15px;
        margin-bottom: 0;
        display: flex;
        padding-left: 10px;
        @include r($r-m) {
            font-size: 20px
        }
        @include r($r-s) {
            margin-left: 10px;
        }
    }
}

.sorting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $blue-800;
    font-weight: 700;
    &__title {
        font-size: 16px;
        text-transform: uppercase;
    }
    &__list {
        display: flex;
        padding: 10px;
    }
    &__item {
        &:first-child {
            margin-right: 10px;
            @include r($r-s) {
                margin-right: 5px;
            }
        }
    }
    &__btn {
        border: transparent;
        outline: 0;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        position: relative;
        fill: $blue-900;
        background-color: $blue-150;
        transition: background-color 0.5s, fill 0.5s;
        &:focus {
            fill: $white;
            background-color: $blue-450;
        }
        &:hover {
            fill: $white;
            background-color: $blue-400;
        }
        &:active,
        &--active {
            fill: $white;
            background-color: $blue-550;
        }
        @include r($r-s) {
            width: 30px;
            height: 30px;
        }
    }
    &__svg {
        width: 20px;
        height: 30px;
        position: relative;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include r($r-s) {
            width: 17px;
            height: 30px;
        }
    }
    &__sort,
    &__num {
        padding: 11px;
        border: 1px solid transparent;
        outline: transparent;
        cursor: pointer;
        transition: border 0.5s;
        &:focus {
            color: $blue-450;
            border: transparent;
        }
        &:hover {
            border-bottom: 1px solid $blue-900;
        }
        &:active {
            color: $blue-550;
        }
    }
    &__down {
        color: $blue-900;
    }
}

.grid {
    &__card {
        width: calc((100% / 3) - 30px);
        margin-bottom: 40px;
        @include r($r-m) {
            width: calc((100% / 2) - 50px);
            display: flex;
            justify-content: center;
        }
        @include r($r-s) {
            width: 100%;
            margin-bottom: 10px;
        }
        &:not(:last-child) {
            margin-right: 30px;
            @include r($r-m) {
                margin-right: 0;
            }
        }
        &.grid__card--list {
            width: 100%;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

.grid-card {
    @include r($r-m) {
        width: 100%;
    }
    &__body {
        &.grid-card__body--list {
            width: 44%;
            height: 47vh;
            border: 3px solid $gray-350;
            padding: 10px;
            margin-right: 46px;
            position: relative;
            @include r($r-l) {
                margin-right: 10px;
                height: 60vh;
            }
            /*  @include r($r-m) {
                height: 50vh;
            } */
            @include r($r-s) {
                height: 40vh;
                width: 70%;
                border: 3px solid transparent;
                margin-bottom: 10px;
            }
        }
    }
    &__img {
        height: 25vh;
        &--little {
            width: 70%;
            margin: 0 auto;
            @include r($r-m) {
                width: 100%;
            }
        }
        &.grid-card__img--list {
            height: 100%;
            width: 70%;
            object-fit: contain;
            background-position: center center;
            z-index: 10;
            margin-bottom: 0;
            @include r($r-s) {
                margin-bottom: 10px;
            }
        }
    }
    &.grid-card--list {
        max-width: 870px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 0 0 transparent;
        color: $gray-850;
        &:not(last-child) {
            margin-bottom: 40px;
            @include r($r-s) {
                margin-bottom: 20px;
            }
        }
        @include r($r-l) {
            align-items: flex-start;
            justify-content: space-evenly;
        }
        @include r($r-s) {
            box-shadow: 0 0 35px 5px #f8f8f8;
            padding: 10px;
        }
        @include r(567) {
            box-shadow: 0 0 35px 5px #f8f8f8;
            padding: 10px;
            flex-direction: column;
            justify-content: start;
        }
    }
    &__text {
        &.grid-card__text--list {
            display: none;
        }
    }
    &__tool {
        &.grid-card__tool--list {
            display: none;
        }
    }
}

.card {
    &__info {
        display: none;
        &.card__info--list {
            display: block;
            max-width: 410px;
            @include r($r-m) {
                max-width: 350px;
            }
        }
    }
    &__name {
        font-size: 40px;
        margin-bottom: 5px;
        @include r($r-m) {
            font-size: 28px;
        }
    }
    &__stars {
        margin-bottom: 30px;
        @include r($r-s) {
            width: 110px;
        }
        svg {
            margin-right: 12px;
            @include r($r-s) {
                margin-right: 5px;
            }
        }
    }
    &__cost {
        display: flex;
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 18px;
        padding-left: 10px;
        @include r($r-m) {
            font-size: 28px
        }
    }
    &__discription {
        @include line_clamp(3);
        margin-bottom: 35px;
        padding-left: 10px;
        @include r($r-m) {
            @include line_clamp(5);
            padding-left: 0;
        }
    }
    &__name,
    &__stars,
    &__cost,
    &__discription {
        @include r($r-l) {
            margin-bottom: 15px;
        }
        @include r($r-m) {
            margin-bottom: 10px;
        }
    }
}

.buttons {
    $this: &;
    display: flex;
    align-items: center;
    padding-left: 10px;
    @include r($r-m) {
        padding-left: 0;
    }
    &__append {
        display: none;
        padding-left: 10px;
        &--add {
            display: block;
        }
    }
    &__add {
        z-index: 10;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 10px 47px;
        @include r($r-l) {
            padding-left: 25px;
            padding-right: 25px;
        }
        &--done {
            display: none;
        }
    }
    &__card,
    &__like {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $white;
        box-shadow: 0 0 15px 3px $gray-450;
        background-position: center center;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.5s;
        @include r($r-l) {
            width: 35px;
            height: 35px;
        }
        &:hover {
            background-color: $blue-200;
            #{$this}__icon {
                fill: $white;
            }
        }
        &:active {
            background-color: $blue-500;
            #{$this}__icon {
                fill: $white;
            }
        }
    }
    &__card {
        margin-right: 15px;
        &--change {
            background-color: $blue-200;
            #{$this}__icon {
                fill: $white;
            }
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 25px;
        height: 25px;
        transition: opacity 0.5s;
        fill: $blue-500;
        z-index: 10;
    }
}