.design {
    font-weight: 700;
    .mix-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 74px;
        @include r($r-l) {
            margin-bottom: 20px;
        }
        &__item {
            color: $gray-950;
            opacity: 0.5;
            font-size: 16px;
            transition: opacity 0.5s;
            @include r($r-s) {
                font-size: 14px;
            }
            &:not(:last-child) {
                margin-right: 18px;
                @include r($r-s) {
                    margin-right: 0;
                }
            }
            &:hover {
                opacity: 0.7;
            }
            &:active,
            .mixitup-control-active {
                opacity: 0.3;
            }
        }
        &__btn {
            cursor: pointer;
            background-color: $white;
            outline: transparent;
            border: 0;
        }
    }
    &__content {
        margin-bottom: 120px;
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        @include r($r-xl) {
            justify-content: center;
            margin-right: 0;
        }
        @include r($r-m) {
            margin-bottom: 20px;
        }
    }
    &__card {
        position: relative;
        width: calc((100% / 3) - 30px);
        height: 22vh;
        padding: 25px 0 25px 25px;
        cursor: pointer;
        background-color: $gray-400;
        font-size: 16px;
        transition: opacity 0.5s, box-shadow 0.5s;
        margin-bottom: 20px;
        margin-right: 30px;
        @include r($r-l) {
            width: calc((100% / 2) - 30px);
            height: 45vh;
        }
        @include r($r-m) {
            height: 32vh;
            padding: 10px 0 10px 10px;
        }
        @include r($r-s) {
            width: 300px;
            height: 145px;
            padding: 20px 0 20px 10px;
            margin-right: 0;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &:hover {
            box-shadow: 0 0 25px 5px $gray-650;
        }
        &:active {
            box-shadow: 0 0 10px 5px $gray-500;
            opacity: 0.5;
        }
    }
}

.design-card {
    max-width: 370px;
    &__link {
        display: block;
        cursor: pointer;
    }
    &__text {
        max-width: 200px;
    }
    &__name {
        @include line_clamp(2);
        color: $blue-800;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 10px;
    }
    &__type {
        @include line_clamp(1);
        color: $blue-350;
        font-size: 16px;
    }
    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 22vh;
        background-repeat: no-repeat;
        object-fit: contain;
        z-index: 10;
        @include r($r-xl) {
            max-width: 180px;
        }
        @include r($r-l) {
            object-fit: cover;
            height: 40vh;
            width: 180px;
        }
        @include r($r-m) {
            height: 22vh;
            /*  max-width: 170px; */
        }
        @include r($r-s) {
            object-fit: contain;
            right: 0;
            max-width: 148px;
        }
        &--chair {
            object-fit: contain;
            height: 70%;
            right: 30px;
            bottom: 0;
            @include r($r-l) {
                right: 0;
            }
            @include r($r-s) {
                height: 89%;
            }
        }
    }
}