.footer {
    @extend %rubik-400;
    color: $footer;
    margin: 0 auto;
    &__inner {
        display: flex;
        padding: 80px 0 58px;
        margin-bottom: 27px;
        border-bottom: 2px solid $footer__inner;
    }
    &__address {
        font-style: normal;
        max-width: 215px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    &__logo {
        margin-bottom: 10px;
    }
    &__contacts {
        margin-bottom: 7px;
    }
    &__nav {
        display: flex;
        justify-content: space-evenly;
        width: 58%;
        padding-top: 18px;
    }
    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &__list,
    &__text {
        font-size: 14px;
    }
    &__item {
        @extend %rubik-400;
        margin-bottom: 10px;
        &:hover {
            color: $footer__item-hover;
        }
        &:active {
            color: $footer__item-active;
        }
    }
    &__block {
        padding-top: 18px;
    }
    &__text {
        max-width: 240px;
        margin-bottom: 33px;
    }
    &__input {
        @extend %dmsans-400;
        background-color: #fef7f0;
        outline: transparent;
        border: none;
        width: 169px;
        padding: 5px 15px;
        transition: background-color 0.5s;
        &:hover {
            background-color: $footer__input-hover;
        }
        &:active {
            background-color: $footer__input-active;
        }
        &::placeholder {
            font-size: 12px;
            color: $footer__input-placeholder;
        }
    }
    &__btn {
        font-size: 14px;
        background-color: $footer__btn;
        color: $bg;
        outline: transparent;
        border: none;
        padding: 5px 20px;
        transition: background-color 0.5s;
        &:hover {
            background-color: $footer__btn-hover
        }
        &:active {
            background-color: $footer__btn-active
        }
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #7b7b7b;
    transition: color 0.5s;
    &__nav {
        display: flex;
    }
    &__navigation {
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 10px;
        }
        &:not(:last-child)::after {
            content: '';
            position: relative;
            border-left: 2px solid #7b7b7b;
            right: 5px;
            margin-left: 15px;
        }
        &:hover {
            color: #646161;
        }
        &:active {
            color: #333333;
        }
    }
}