.footer {
    @extend %rubik-400;
    color: $gray-900;
    padding-top: 70px;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        padding-bottom: 58px;
        border-bottom: 2px solid $gray-650;
        @include r($r-m) {
            flex-wrap: wrap;
        }
    }
    &__address {
        max-width: 368px;
        font-style: normal;
    }
    &__logo {
        margin-bottom: 20px;
    }
    &__contacts {
        margin-bottom: 10px;
    }
    &__nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 12px;
    }
    &__package {
        &--services {
            @include r($r-m) {
                margin-right: 20px;
            }
        }
    }
    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
        color: $blue-950;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &__list,
    &__text {
        font-size: 14px;
    }
    &__item {
        @extend %rubik-400;
        margin-bottom: 10px;
        &:hover {
            color: $gray-700;
        }
        &:active {
            color: $gray-850;
        }
    }
    &__block {
        padding-top: 12px;
        @include r($r-s) {
            text-align: center;
        }
    }
    &__text {
        @include line_clamp(2);
        max-width: 240px;
        margin-bottom: 33px;
    }
    &__form {
        @extend %dmsans-400;
        font-size: 14px;
        display: flex;
    }
    &__input {
        background-color: $yellow-750;
        outline: transparent;
        border: none;
        width: 169px;
        padding: 5px 20px;
        outline: 0 solid transparent;
        transition: background-color 0.5s;
        &:focus {
            outline: 1px solid $gray-850;
        }
        &:hover {
            background-color: $yellow-550;
        }
        &:active {
            background-color: $yellow-900;
        }
        &::placeholder {
            font-style: 12px;
            color: $blue-600;
        }
    }
    &__btn {
        background-color: $blue-350;
        color: $white;
        outline: transparent;
        border: none;
        padding: 5px 20px;
        transition: background-color 0.5s;
        &:focus {
            background-color: $blue-750;
        }
        &:hover {
            background-color: $blue-450;
        }
        &:active {
            background-color: $blue-550;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        color: $gray-700;
        transition: color 0.5s;
        @include r($r-m) {
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__bottom-navigation {
        display: flex;
    }
    &__bottom-nav {
        &:not(:last-child) {
            margin-right: 10px;
            &::after {
                content: '';
                position: relative;
                border-left: 2px solid $gray-700;
                right: 5px;
                margin-left: 15px;
            }
        }
    }
    &__bottom-link {
        cursor: pointer;
        &:hover {
            color: $gray-700;
        }
        &:active {
            color: $gray-850;
        }
    }
}