.header {
    padding: 40px 0 45px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    @extend %rubik-500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $blue-950;
    &__list {
        display: flex;
        margin: 0 auto;
    }
    &__item:not(:last-child) {
        margin-right: 35px;
    }
    &__link {
        position: relative;
        font-size: 15px;
        line-height: 1;
        color: $blue-700;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:focus {
            outline: 0;
            box-shadow: 0 0 10px 5px $gray-750;
        }
        &:hover {
            border-bottom: 1px solid $blue-950;
            padding-bottom: 5px;
        }
        &-down {
            position: absolute;
            cursor: pointer;
            background-color: transparent;
            color: $blue-700;
            outline: 0;
            border: 0;
        }
    }
    .logo {
        &__img {
            width: 145px;
            height: 45px;
            object-fit: contain;
        }
    }
}

.user-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    cursor: pointer;
    &__link {
        border: transparent;
        outline: 0;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        @extend %rubik-500;
        transition: background-color 0.5s;
        &:first-child {
            margin-right: 20px;
        }
        &:last-child {
            margin-left: 20px;
        }
        &--search {
            background-image: url(../images/icon/search.svg);
            background-color: $blue-150;
            border-radius: 50%;
            &:focus {
                background-color: $blue-450;
            }
            &:hover {
                background-color: $blue-400;
            }
            &:active {
                background-color: $blue-550;
            }
        }
        &--like {
            background-image: url(../images/icon/like.svg);
            border-top-left-radius: 70px;
            border-bottom-left-radius: 70px;
            padding-left: 35px;
            padding-right: 55px;
            &::after {
                content: '';
                width: 2px;
                height: 35px;
                right: 0;
                top: 5px;
                background-color: $white;
                z-index: 10;
                opacity: 0.5;
                position: absolute;
            }
        }
        &--card {
            background-image: url(../images/icon/card.svg);
            padding-left: 55px;
            padding-right: 35px;
            border-top-right-radius: 70px;
            border-bottom-right-radius: 70px;
        }
        &--like,
        &--card {
            background-color: $yellow-850;
            transition: background-color 0.5s;
            &:focus {
                background-color: $yellow-550;
            }
            &:hover {
                background-color: $yellow-900;
            }
            &:active {
                background-color: $yellow-950;
            }
        }
        &--grid {
            background-image: url(../images/icon/grid.svg);
            background-color: $blue-350;
            border-radius: 47%;
            &:focus {
                background-color: $blue-450;
            }
            &:hover {
                background-color: $blue-500;
            }
            &:active {
                background-color: $blue-650;
            }
        }
    }
    &__num {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $white;
        top: 9px;
        right: 25px;
        font-size: 9px;
        line-height: 1.7;
        text-align: center;
    }
}