.hero {
    @extend %rubik-500;
    &__inner {
        height: 91vh;
        background-color: $yellow-800;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__item {
        height: 80vh;
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-image: linear-gradient(to right, $yellow-800, $white);
            width: 71vh;
            height: 71vh;
            border-radius: 50%;
            right: 180px;
            bottom: 25px;
        }
    }
    &__content {
        max-width: 440px;
    }
    &__title {
        @include line_clamp(2);
        font-size: 69px;
        line-height: 1;
        color: $blue-800;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &__text {
        @include line_clamp(2);
        font-weight: 400;
        color: $blue-650;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 40px;
        max-width: 370px;
    }
    &__link {
        background-color: $blue-350;
        color: $white;
        max-width: 200px;
        padding: 15px 13px 15px 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        outline: transparent;
        position: relative;
        transition: background-color 0.5s;
        &:hover {
            background-color: $blue-400;
        }
        &:active {
            background-color: $blue-700;
        }
        &::after {
            content: url(../images/slider/arrow.svg);
            position: absolute;
            right: 15px;
        }
    }
    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 45px;
        left: 0;
        right: 0;
        li:not(:last-child) {
            margin-right: 10px;
        }
        button {
            background-color: $white;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 15px;
            padding: 0;
            border: none;
            outline: 0;
            cursor: pointer;
            position: relative;
            opacity: 0.5;
            transition: box-shadow 0.3s;
            &:focus {
                background-color: $yellow-500;
            }
            &:hover {
                box-shadow: 0 0 10px 5px $gray-600;
            }
        }
        .slick-active>button {
            opacity: 1;
        }
    }
    &__img {
        z-index: 10;
        object-fit: contain;
        position: relative;
    }
}