.insights {
    position: relative;
    color: $gray-900;
    margin-bottom: 80px;
    &::before {
        content: "";
        background-color: $yellow-750;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56%;
        z-index: -1;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;
        margin-bottom: 35px;
    }
    .title {
        &__insights {
            margin-bottom: 0;
            text-align: left;
        }
    }
    &__link {
        font-weight: 600;
        position: relative;
        border-bottom: 1px solid transparent;
        padding-bottom: 1px;
        transition: border-bottom 0.5s, opacity 0.5s;
        cursor: pointer;
        &::after {
            content: "";
            background-image: url(../images/arrow.svg);
            background-repeat: no-repeat;
            width: 10px;
            height: 15px;
            position: absolute;
            top: 10px;
            right: -30px;
        }
        &:hover {
            border-bottom: 1px solid $blue-800;
        }
        &:active {
            opacity: 0.5;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        background-color: $white;
        max-width: 370px;
        border-radius: 10px;
        padding-bottom: 25px;
        transition: box-shadow 0.5s;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover {
            box-shadow: 0 0 20px 5px $gray-650;
        }
        &:active {
            box-shadow: 0 0 10px 5px $gray-500;
        }
    }
    .news-card {
        cursor: pointer;
        position: relative;
        &__img {
            max-height: 250px;
            width: 100%;
        }
        &__news {
            @extend %poppins-700;
            font-size: 14px;
            text-transform: uppercase;
            color: $white;
            background-color: $blue-350;
            padding: 5px 30px;
            border-radius: 30px;
            position: absolute;
            bottom: 130px;
            left: 27px;
            cursor: pointer;
            transition: background-color 0.5s, box-shadow 0.5s;
            &:hover {
                background-color: $blue-250;
            }
            &:active {
                background-color: $blue-250;
                box-shadow: 0 0 0 5px $blue-250;
            }
        }
        &__content {
            @include line_clamp(3);
            line-height: 1.5;
            text-align: left;
            padding: 30px 65px 0 30px;
            margin-bottom: 15px;
            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 315px;
                border-bottom: 1px solid $gray-450;
                bottom: 30px;
            }
        }
        &__bottom {
            font-size: 12px;
            text-transform: uppercase;
            display: flex;
            padding-top: 10px;
            padding-left: 45px;
        }
        &__date {
            position: relative;
            margin-right: 40px;
            &::before {
                content: "";
                background-image: url(../../images/calendar.png);
            }
        }
        &__author {
            position: relative;
            &::before {
                content: "";
                background-image: url(../../images/user.png);
            }
        }
        &__date::before,
        &__author::before {
            position: absolute;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            left: -20px;
        }
    }
}

.sponsors {
    padding: 85px 0 80px;
    &__img {
        height: 90px;
        width: 170px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: contain;
    }
    .slick-track {
        display: flex;
        justify-content: space-around;
    }
    .slick-slide {
        width: 300px !important;
    }
}