.sponsors {
    padding: 85px 0 80px;
    background-color: $yellow-750;
    @include r($r-l) {
        padding: 40px 0;
    }
    @include r($r-m) {
        padding: 20px 0;
    }
    @include r($r-s) {
        padding: 10px 0;
    }
    &__img {
        height: 90px;
        width: 170px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: contain;
        @include r($r-l) {
            width: 115px;
            margin: 0 auto;
        }
        @include r($r-m) {
            height: 70px;
            width: 70px;
        }
        @include r($r-s) {
            height: 90px;
            width: 170px;
        }
    }
    .slick-track {
        display: flex;
        justify-content: space-around;
    }
    .slick-slide {
        width: 300px !important;
    }
}