<section class="top">
    <div class="container container--sm">
        <h2 class=" title top__title">About Us</h2>
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">
                        About us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>