<footer class="footer">
    <div class="container container--sm">
        <div class="footer__inner">
            <div class="footer-address">
                <h3 class="sr-only">Contact Information</h3>
                <a class="logo footer__logo" href="#">
                    <img loading="lazy" class="logo__img footer__logo" width="145" height="40" src="images/logo.png" alt="logo">
                </a>
                <address class="footer__address">
                <a class="footer__contacts" href="#">ADDRESS: 4772 Wines Lane Houston, TX 77032</a>
                <a class="footer__contacts" href="tel:8323475843">TELEPHONE: +832-347-5843 </a>
                <a class="footer__contacts" href="mailto:contact@Glee.com">EMAIL: contact@Glee.com</a>
            </address>
            </div>
            <div class="footer__nav">
                <div class="footer__package footer__package--services">
                    <p class="footer__title">Services</p>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a class="footer__link" href="#">About us</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Return Policy</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Our Blog</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Contact Us</a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">Terms & Condition</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__package">
                    <ul class="footer__list">
                        <p class="footer__title">Account</p>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">Your Account</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Checkout</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Login</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Register</a>
                            </li>
                        </ul>
                    </ul>
                </div>

            </div>
            <div class="footer__block">
                <p class="footer__title">newsletter</p>
                <p class="footer__text">
                    Subscribe by our newsletter and get update protidin.
                </p>
                <form action="#" class="footer__form">
                    <label for="address" class="footer__label">
                    <span class="sr-only">email address</span>
                </label>
                    <input class="footer__input" id="address" type="email" placeholder="Email address" name="email" required>
                    <button class="footer__btn" type="submit">Subscribe</button>

                </form>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom-copy">©2020 CopyRight Example. All rights reserved. </p>
            <ul class="footer__bottom-navigation">
                <li class="footer__bottom-nav">
                    <a class="footer__bottom-link" href="#">Home</a>
                </li>
                <li class="footer__bottom-nav">
                    <a class="footer__bottom-link" href="#">About</a>
                </li>
                <li class="footer__bottom-nav">
                    <a class="footer__bottom-link" href="#">Blog</a>
                </li>
                <li class="footer__bottom-nav">
                    <a class="footer__bottom-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>