<div class="category">
    <h3 class="category__title heading">Category</h3>
    <ul class="category__list">
        <li class="category__item">
            <a class="category__link" href="#">Chair</a>
        </li>
        <li class="category__item">
            <a class="category__link" href="#">Table</a>
        </li>
        <li class="category__item">
            <a class="category__link" href="#">Lamp</a>
        </li>
        <li class="category__item">
            <a class="category__link" href="#">Watch</a>
        </li>
        <li class="category__item">
            <a class="category__link" href="#">Clock</a>
        </li>
    </ul>
</div>