<article class="grid-card">
    <div class="grid-card__body">
        <img loading="lazy" class="grid-card__img" width="277" height="260" src="@@way" alt="armchair">
        <div class="grid-card__text">
            <h3 class="grid-card__name">@@name</h3>
            <div class="grid-card__cost">@@price<span>$</span></div>
        </div>
    </div>
    <div class="card__info">
        <div class="card__text">
            <h3 class="card__name">@@name</h3>
            <div class="card__stars" data-rateyo-rating="5"></div>
            <div class="card__cost">@@price<span>$</span></div>
            <div class="card__discription">
                <p>@@info</p>
            </div>
        </div>
        <div class="buttons">
            <button class="buttons__add footer__btn">add to card</button>
            <div class="buttons__append">
                <button class="buttons__card">
                <svg class="buttons__icon">
                    <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                <span class="sr-only">Add to Shopping Cart</span>
            </button>
                <button class="buttons__like">
                <svg class="buttons__icon">
                    <use xlink:href="images/sprite.svg#favourites"></use>
                </svg>
                <span class="sr-only">Add to favourites</span>
            </button>
            </div>
        </div>

    </div>
    <ul class="grid-card__tool">
        <li class="grid-card__item">
            <a class="grid-card__link" href="#">
                <svg class="grid-card__icon">
            <use xlink:href="images/sprite.svg#more"></use>
        </svg>
                <span class="sr-only">See more</span>
            </a>
        </li>
        <li class="grid-card__item">
            <button class="grid-card__link" href="#">
        <svg class="grid-card__icon">
            <use xlink:href="images/sprite.svg#cart"></use>
        </svg>
        <span class="sr-only">Add to Shopping Cart</span>
    </button>
        </li>
        <li class="grid-card__item">
            <button class="grid-card__link" href="#">
        <svg class="grid-card__icon">
            <use xlink:href="images/sprite.svg#favourites"></use>
        </svg>
        <span class="sr-only">Add to favourites</span>
    </button>
        </li>
    </ul>
</article>