<article class="recent__card">
    <div class="recent__photo">
        <img loading="lazy" class="list__img" width="70" height="70" src="@@way" alt="armchair">
    </div>
    <div class="recent__info">
        <h3 class="recent__name">
            @@name
        </h3>
        <div class="recent__stars" data-rateyo-rating="4"></div>
        <div class="recent__cost">
            <div class="recent__price">@@cost</div>
            <span class="recent__value">$</span>
        </div>
    </div>
</article>