<article class="blog-card">
    <div class="blog-card-head">
        <img loading="lazy" class="blog-card__img" width="370" height="250" src="@@way" alt="design_ideas">
        <div class="blog-card__bottom">
            <time class="blog-card__info blog-card__info--calendar">28 january. 2020</time>
            <span class="blog-card__info">by admin</span>
        </div>
    </div>

    <div class="blog-card__content">
        <h3 class="blog-card__title">@@name</h3>
        <div class="blog-card__text">
            <p class="blog-card__about">
                @@blog
            </p>
            <p class="blog-card__about blog-card__about--more">
                @@blog
            </p>
        </div>
        <div class="blockquote">
            <blockquote class="blockquote__text">Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            </blockquote>
            <span class="blockquote__author">Wiusmod tempor </span>
        </div>
    </div>


</article>